* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* GLOBAL VARIABLE ========================================================================================== */
:root {
  /* Background Color */
  --bg-button: #000000;
  --bg-color: #ffffff;

  /* Font Color */
  --text-global-clr: hsl(0, 0%, 8%);
  --text-button-clr: hsl(0, 0%, 100%);
  --text-underline-clr: hsl(173, 52%, 53%);

  /* Testing Colors */
  --test-color-bg: hsl(0, 0%, 80%);
  --test-color-border: hsl(0, 100%, 81%);

  /* Box Shadows */
  --nav-box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 24px 0px;

  /* Typography Fluid for h1 */
  --h1-step-0: clamp(2rem, -1.5rem + 9.33vw, 5.5rem);

  /* Typography Fluid for h3 */
  --h3-step-0: clamp(0.94rem, 0.82rem + 0.48vw, 1.5rem);

  /* Typography Fluid for Button */
  --btn-step-0: clamp(1rem, 0.77rem + 0.97vw, 1.3rem);
}

/* GLOBAL CSS ========================================================================================== */
html {
  scroll-behavior: smooth;
}

body {
  font-family: Poppins, sans-serif;
  color: var(--text-global-clr);
}

.total-center {
  text-align: center;
  justify-content: center;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.section {
  margin-inline: auto;
  padding: 4rem 0;
  width: min(92%, 76rem);
}

a {
  text-decoration: none;
  color: inherit;
}

u {
  text-decoration-color: var(--text-underline-clr);
}

/* INTRO SECTIONS CSS ========================================================================================== */

.intro-container {
  text-align: center;
  padding: 2.7rem 0;
}

.intro-text {
  font-size: 1.3rem;
  font-weight: 600;
}

@media (max-width: 680px) {
  .intro-container {
    padding: 0;
  }
}

/* HERO SECTION CSS ========================================================================================== */

.hero {
  background: var(--bg-color);
  padding: 8rem 0 5rem 0;
}

.hero__job {
  text-transform: uppercase;
  font-weight: 500;
  font-size: var(--h3-step-0);

  margin: 0;
}

.hero__name {
  text-transform: uppercase;
  font-size: var(--h3-step-0);
  font-weight: 700;
}

.hero__pitch {
  margin: 2.3rem 0;
  font-size: var(--h1-step-0);
  font-weight: 600;
}

.cta-project {
  display: inline-block;
  /* width: min(40%, 16.25rem); */
  width: 220px;

  margin-bottom: 2rem;
  padding: 0.8rem 0;

  border: #000000 solid 1px;
  background: var(--bg-button);
  border-radius: 30px;

  text-align: center;
  color: var(--text-button-clr);
  letter-spacing: 1px;
  font-size: 1.1rem;
  font-weight: 500;
}

.hero__image {
  width: min(100%, 75rem);
}

@media (max-width: 630px) {
  .hero {
    text-align: center;
  }
}

/* MISSION SECTION CSS ========================================================================================== */

.mission__statement {
  width: 100%;
  line-height: 1.1;
  font-size: var(--h1-step-0);
  font-weight: 600;
}

.mission-content__wrapper {
  display: flex;
  flex-flow: row nowrap;
}

.mission-text__wrapper {
  width: 50%;
}

.mission-text {
  width: 97%;
  font-size: var(--h3-step-0);
  font-weight: 400;
  line-height: 1.6;
}

.mission-text-bottom {
  margin: 0;
  margin-top: 5rem;
  width: 78%;
}

.mission-image__wrapper {
  width: 50%;
}

.mission__image {
  object-fit: cover;
  width: 90%;
}

@media (max-width: 968px) {
  .mission-text-bottom {
    margin: 0rem;
  }

  .mission-text__wrapper {
    padding: 0;
  }
}

@media (max-width: 680px) {
  .mission-content__wrapper {
    display: flex;
    flex-flow: column nowrap;
  }

  .mission-text__wrapper {
    padding: 1rem 2rem 0 0;
    width: 100%;
  }

  .mission-image__wrapper,
  .mission-text,
  .mission-text-bottom {
    width: 100%;
  }
}
